
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


body{
	font-family: 'Lato', sans-serif;
}

.wrapper{
	overflow: hidden;
	max-width: 810px;
	margin: 0 auto;
}
.title{
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	align-items: center;
	color: #1E212C;
	margin-bottom: 26px;
}
.inline{
	margin: 0 0 40px 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #787A80;
}
.inline-1{
	background: url("../img/Calendar.svg") 0 2px no-repeat;
	padding: 0 0 0 24px;
	margin:  0 24px 0 0;
}
.inline-2{
	padding: 0 0 0 24px;
	background: url("../img/Clock.svg") 0 2px no-repeat;
}
img{
	margin-bottom: 60px;
}
.text-bold{
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1E212C;
	margin-bottom: 24px;
}
.text-quote{
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1E212C;
	margin: 48px 0;
	background: url("../img/braces.svg") 0 0 no-repeat;
	padding: 0 0 0 58px;
}
.text{
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
}
.text-1{
	margin-bottom: 24px;
}
.text-2{
	margin-bottom: 48px;
}
.list{
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
	margin: 24px 0;
}
.list-li{
	background: url("../img/check.svg") 0 5px no-repeat;
	padding: 0 0 0 32px;
}
.block-2{
	max-width: 390px;
}
.whoarewe{
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #1E212C;
	margin-bottom: 8px;
}
.subtitle{
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
	margin-bottom: 40px;
}
.list-2{
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
	margin-bottom: 48px;
}
.list-2-li{
	margin-bottom: 12px;
	background: url("../img/check.svg") 0 6px no-repeat;
	padding: 0 0 0 32px;
}
.link{
	font-weight: 700;
	font-size: 14px;
	line-height: 314%;
	letter-spacing: 0.5px;
	color: #FFFFFF;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	padding: 20px 32px;
}
